# Backend
SERVER_PORT=8080
SHOPIFY_SHOP_DOMAIN=
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_API_VERSION=
SHOPIFY_REDIRECT_URI=http://localhost:8080/api/shopify/callback

# Frontend
VITE_API_BASE_URL=http://localhost:8080
